<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggen Min</title>

    <script src="https://kit.fontawesome.com/0524a46759.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="divM">
        <div class="contL">
            <i class="fa-solid fa-house"></i>
            <a href="/minBlogg">Min Blogg</a>
            <a href="/folger">Følger</a>
        </div>
        <div class="contR">
            <a href="/loginn">Log inn</a>
            <i class="fa-solid fa-user"></i>
        </div>
    </div>