<div class="pokeCard">
    <div><img src="" alt=""></div>
    <div>
        <ul>
            <li class="namePoke" id="namePoke">Name</li>
            <li class="typePoke" id="typePoke">Fire</li>
            <li class="ability1Poke" id="ability1Poke">Fireball</li>
            <li class="ability2Poke" id="ability2Poke">Spitfire</li>
            <li class="ability3Poke" id="ability3Poke">AP round</li>
            <li class="signedPoke" id="signedPoke">Chris</li>
        </ul>
    </div>
</div>