<%- include('partials/header.ejs') %>
    
    <div class="pokeCard">
        <div><img src="" alt=""></div>
        <div>
            <ul>
                <li class="namePoke" id="namePoke"></li>
                <li class="typePoke" id="typePoke"></li>
                <li class="ability1Poke" id="ability1Poke"></li>
                <li class="ability2Poke" id="ability2Poke"></li>
                <li class="ability3Poke" id="ability3Poke"></li>
                <li class="signedPoke" id="signedPoke"></li>
            </ul>
        </div>
    </div>
 
    <script src="db.js"></script>
    <script src="/app.js"></script>
</body>
</html>