<%- include('partials/header.ejs') %>
    
    <form action="post">
    <div>

        <div>
            <h1>Log Inn</h1>
            <input type="text" name="username" id="logInnU" placeholder="Username">
            <input type="password" name="password" id="logInnP" placeholder="Password">
            <button class="button">Log Inn</button>
        </div>
        
    </div>
    </form>
    

</body>
</html>