<%- include('partials/header.ejs') %>
    <form action="" method="post">

        <div class="SII username">
            <input name="liUsername" type="text" placeholder="Username">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>

        <div class="SII password">
            <input name="liPassword" type="password" placeholder="Password">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <button type="submit">Submit</button>
    </form>
    

</body>
</html>