<%- include('partials/header.ejs') %>

<form action="/nyPokeSide" method="post">

    <div class="group">      
        <input name="name" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="inputName">Name</label>
    </div>
      
    <div class="group">      
        <input name="type" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="inputType">Type</label>
    </div>

    <div class="group">      
        <input name="ability0" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="inputAbility0">Ability Nr 1</label>
    </div>

    <div class="group">      
        <input name="ability1" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="inputAbility1">Ability Nr 2</label>
    </div>

    <div class="group">      
        <input name="ability2" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="inputAbility2">Ability Nr 3</label>
    </div>    

    <div class="group">      
        <input name="author" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="NameOnCard">Signert av</label>
    </div>  
    <button class="button applyB">Apply</button>
  </form>

</body>
</html>