<%- include('partials/header.ejs') %>
    
    <form action="/signup" method="post">
        
        <div class="signUpDiv">
            <div class="SUI name">
                <input type="text" placeholder="Full name">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <div class="SUI email">
                <input type="text" placeholder="Email">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <div class="SUI phoneNumber">
                <input type="text" placeholder="Phone Number">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
        
            <div class="SUI username">
                <input type="text" placeholder="Username">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <div class="SUI password">
                <input type="password" placeholder="Password">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
        </div>

    </form>

</body>
</html>