.divM{
    width: 100%;
    display: flex;
    background-color: #cc7b00;
    top: 0;left: 0;right: 0;
    position: fixed;
    z-index: 99;
}

.navImg{
    width: 50px;
    height: 50px;
}
body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #0e0404;
    color: #ffd3d3;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #ffd3d3;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: #53456e;
  }
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #a04c4c;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      left: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #cdcdcd;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(100%);
    }
  }
  
  /* desktop styles */
  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #cdcdcd;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }


  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
.pokeCard{
  background-color: #c0bebe;
  width: 30%;
  height: 200px;
  margin-left: 35%;
  margin-top: 60px;
}

.pokemon-cont{
  display: grid;
  background-color: #A2AD91;
  grid-template-columns: 1fr 1fr;
  max-width: 45em;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.pokemon-cont:hover{
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
  font-size: 1.2em;
  cursor: pointer;
}

.pokemon-image {
  max-width: 20em;
  display: flex;
  justify-content: center;
}

.pokemon-image > img {
  max-height: 10em;
}

.pokemon-content {
  text-align: left;
}

.author-para{
  padding-right: 1em;
  text-align: right;
  font-size: 1.5em;
}

.group{
  margin: 10px;
  margin-top: 10px;
}

.reece{
  margin-left: 10px;

}

.nyPokeForm{
  width: 50%;
  background-color: #a8a8a8;
  border-radius: 15px;
}